* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/photo_2021-04-27_16-31-26.jpg');
    background-size: cover;
    color: black;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.8rem;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: white;
}

form button {
    margin-left: 1rem;
    color: rgb(118, 165, 128);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

form button:hover {
    background: rgb(118, 165, 128);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list {
    min-width: 20%;
}

.todo li {
    flex: 1;
}

.completed-btn,
.delete-btn {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: white;
    font-size: 1rem;
    border: none;
    color: rgb(118, 165, 128);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.completed-btn:hover {
    background: rgb(118, 165, 128);
    color: white;
}

.delete-btn:hover {
    background: rgb(118, 165, 128);
    color: white;
}

.fa-check,
.fa-trash-alt {
    pointer-events: none;
}